.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
}

.headerList {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0;
}

.headerList {
  display: flex;
  gap: 40px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
