.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0;
}

.headerList {
  margin-bottom: 50px;
}

.headerList {
  display: flex;
  gap: 40px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0;
}

.headerButton {
  background-color: #0071c2;
  border: none;
  color: white;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  position: absolute;
  bottom: -25px;
  width: 99%;
  max-width: 1024px;
}
